 <%- include("partials/header.ejs") %>
 
    <h1> <%= setup %></h1>
    <h2><%= delivery %></h2>
 
 <div>
    <span>category: <%= category %></span>
    <span>type: <%= type %></span>
 </div>

 <%- include("partials/footer.ejs") %>
